@import url('https://fonts.googleapis.com/css?family=Comfortaa|Muli|Nunito|Josefin+Sans|Montserrat|Open+Sans|Poiret+One|Quicksand|Raleway|Roboto');


.campaign-container{
  padding : 10px 20px;
}

.App-title {
  font-size: 1.5em;
}

.outerMargin {
	margin: 20px 0;
}

.heading-center{
	text-align: center;
}

.raleway-font{
	font-family: 'Raleway'!important;
	font-size: 22px;
}

.muli-font{
	font-family: 'Muli'!important;
	font-size: 22px;
}

.nunito-font{
	font-family: 'Nunito'!important;
	font-size: 22px;
}

.comforta-font{
	font-family: 'Comfortaa'!important;
	font-size: 22px;
}
